/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  width: 100%;
  height: 100%;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
  );
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.day {
  background-image: linear-gradient(top, #419BD3 0%, #1CDD49 90%);
  background-image: -webkit-linear-gradient(top, #419BD3 0%, #1CDD49 90%);
  background-image: -ms-linear-gradient(top, #419BD3 0%, #1CDD49 90%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #419BD3),
    color-stop(0.90, #1CDD49)
  );
}

.night {
  background-image: linear-gradient(top, #7979C1 0%, #174A8A 51%);
  background-image: -webkit-linear-gradient(top, #7979C1 0%, #174A8A 51%);
  background-image: -ms-linear-gradient(top, #7979C1 0%, #174A8A 51%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #7979C1),
    color-stop(0.51, #174A8A)
  );
}

#loader {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  transition: opacity 400ms ease-out;
}

#loader.hidden {
  opacity: 0;
  display: none;
}

#settings {
  position: fixed;
  bottom: -100%;
  right: 5px;
  z-index: 500;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 25px;
  transition: all 300ms ease-in-out;
}

#settings #settings-arrow {
  position: fixed;
  z-index: 800;
  width: 90px;
  bottom: -10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}

#settings.open #settings-arrow img {
  transform: rotateX(180deg);
  bottom: 0px;
}

#settings-arrow img {
  width: 32px;
  height: 32px;
  transition: all 300ms ease-in-out 300ms;
}

#settings-arrow span {
  position: relative;
  bottom: 10px;
  right: 2px;
}

#settings.open {
  bottom: 0;
}

#settings > .setting {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 12px;
  margin: 5px;
  display: table;
}

body.night #settings #settings-arrow {
  background-color: rgba(255, 255, 255, 0.4);
}

body.night #settings {
  background-color: rgba(0, 0, 0, 0.4);
}

body.night #settings > .setting {
  background-color: rgba(255, 255, 255, 0.4);
}

.setting > img {
  display: table-row;
  width: 42px;
  height: 42px;
  margin: auto;
  padding-top: 5px;
}

.setting > span {
  display: table-row;
}

#weather-primary img {
  float: left;
  padding-left: 10%;
}

#weather-primary div:first-of-type {
  padding-bottom: 5px;
}

#weather-primary div:last-of-type {
  font-size: 250%;
}

#weather-updated {
  position: fixed;
  bottom: 0;
  left: calc(50% - 205px);
  width: 320px;
}

.spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 8px solid darkgrey;
  border-top: 8px solid orangered;
  animation: spin 1000ms infinite;
}

.app {
  text-align: center;
  overflow: auto;
  height: calc(100% - 30px);
  padding-top: 10px;
}

#app-content {
  height: 100%;
  width: 100%;
}

.small-icon {
  width: 24px;
  height: 24px;
  padding: 0 5px;
  vertical-align: middle;
}

.med-icon {
  width: 36px;
  height: 36px;
  padding: 0 5px;
  vertical-align: middle;
}

#weather-chance span {
  vertical-align: middle;
}

.w-time {
  display: table-header-group;
}

.w-future > .small-icon {
  display: table-cell;
  margin: auto;
}

.w-temp {
  display: table-footer-group;
}

.w-future {
  display: table;
  float: left;
  width: 120px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

#weather-future {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#weather-future > div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.day-group {
  display : block;
  width: 100%;
}

.view {
  position: fixed;
  height: calc(100% - 40px);
  width: 100%;
  right: -100%;
  transition: all 300ms;
  overflow: scroll;
}

.inView {
  right: 0;
}

#settings-view {
  position: fixed;
  top: -120%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
  );
  opacity: 0.5;
  transition: all 400ms;
  padding-top: 10px;
}

#settings-view.inView {
  top: 0;
  opacity: 1;
}

.jiggle {
  animation: jiggle 75ms 3 alternate;
}

#weather-extended {
  position: relative;
  padding-top: 20px;
}

.day-progress {
  height: 100px;  
  border: solid 3px #000;
  border-color: #000 transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

.day-image {
  top: -6px;
}

.day-progress div {
  position: relative;
}

.day-progress div img {
  top: 36px;
}

.day-progress div:first-of-type img {
  position: absolute;
  left: 10px;
}

.day-progress div:last-of-type img {
  position: absolute;
  right: 10px;
}

.day-progress div span {
  position: absolute;
  font-size: 80%;
  top: 35px;
}

.day-progress div .left {
  left: 13%;
}

.day-progress div .right {
  right: 13%;
}

.day-image img {
  position: absolute;
  top: 24px;
  left: 20px;
}

.cloud-cover {
  position: absolute;
  top: 10%;
  width: 50px;
  left: calc(50% - 25px);
}

.cloud-cover img {
  left: -3px;
  position: relative;
}

.cloud-cover span {
  display: block;
  position: relative;
  top: -6px;
  text-align: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
  position: relative;
  top: -35px;
}

.wind {
  border: 2px solid black;
  border-radius: 10px;
  width: 40%;
  margin: 0 10px;
}

.wind span {
  display: block;
  padding: 5px 0;
}

.wind img {
  width: 64px;
  height: 64px;
}

.humidity-pressure {
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10px;
}

.humidity-pressure * {
  display: block;
  margin: auto;
}

.humidity-pressure span:first-of-type {
  padding-bottom: 11px;
}

.three-day-forecast {
  display: flex;
  justify-content: center;
}

.three-day-forecast div {
  width: 33%;
  max-width: 200px;
  display: table;
}

.three-day-forecast div > span:first-of-type {
  display: table-caption;
}

.three-day-forecast div > div {
  display: table-cell
}

.three-day-forecast div > span:last-of-type {
  display: table-footer-group;
}

#chart-buttons {
  padding-top: 20px;
}

#chart-buttons button {
  width: 30%;
  height: 50px;
}

@keyframes jiggle {
  from { left: -10px; }
  to { left: 10px; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@media screen and (min-width: 400px) {
  img {
    width: 128px;
    height: 128px;
  }

  body {
    font-size: 120%;
  }

  .humidity-pressure span:first-of-type {
  padding-bottom: 14px;
}

  .w-future {
    width: 150px;
  }

  .app {
    height: calc(100% - 50px);
  }

  #weather-future {
    overflow: scroll;
    width: 100%;
    height: 100%;
  }
}

#settings-view .attribution {
  position: absolute;
  width: 90%;
  left: calc(50% - 45%);
  bottom: 30px;
}

#settings-view input[type="checkbox"] {
  zoom: 2;
}

#settings-view > div > label {
  position: relative;
  bottom: 8px;
  padding-right: 15px;
}

[data-action="close"] {
  display: block;
  width: 100px;
  height: 30px;
  margin: auto;
  font-size: 100%;
}

@media screen and (min-width: 500px) {
  img {
    width: 160px;
    height: 160px;
  }
}